dagster/secrets.yaml

*.pyc
src/gldas_noah/gldas_noah.egg-info
src/gldas_noah/dist
src/gldas_noah/build

**/.env
**/.ruff_cache/
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.venv/
**/.vscode/
**/.DS_Store
**/.idea/
**/.eggs/
**/dist/
**/build/
**/*.egg-info/

cli/*.png
cli/*.json